<h1><%%= t('views.headings.new', model_name: <%= namespace %>::<%= class_name %>.model_name.human) %></h1>

<%%= render 'form' %>

<div class="default-actions">
  <%%= link_to t('views.actions.back'), <%= index_helper %>_path %>
</div>
